html,
body{
    font-family: "Inter", sans-serif;
    margin: auto;
    max-width: 100vw;
}

/*HEADER STYLES*/
.header{
    height: 260px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-content{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.hero-title{
    font-size: 3rem;
    color: whitesmoke;
    text-shadow: 0 0 2px black;
}
.hero-button{
    background: none;
    border: none;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 0 0 2px black;
}
.hero-button:hover{
    cursor: pointer;
}


/*MAIN ELEMENT STYLES*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*SEARCH INPUT STYLES*/
.search-container{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 38px;
    margin-top: 240px;
    box-shadow: 0 0 3px black;
    border-radius: 5px 5px 5px 5px;
}
.search-input{
    border: none;
    width: 340px;
    border-radius: 5px 0px 0px 5px;
    
}
.search-btn{
    border: none;
    width: 120px;
    border-radius: 0px 5px 5px 0px;
}
.search-btn:hover{
    cursor: pointer;
}
.search-btn:active{
    transform: scale(0.97);
}

/*MOVIE CARD STYLES*/
.movie-card-container,
.movie-card,
.movie-info,
.movie-title-rating,
.runtime-genre-watchlist{
    display: flex;
}

.movie-card-container{
    flex-direction: column;
    margin-top: 310px;
}
.movie-card{
    justify-content: center;
    width: 560px;
}
.movie-poster{
    height: 196px;
    width: 140x;
    margin-right: 1.5rem;
}
.movie-info{
    width: 100%;
    flex-direction: column;
}
.movie-title-rating{
    width: 100%;
}
.movie-title{
    margin-right: 15px;
}
.runtime-genre-watchlist{
    justify-content: space-between;
}
hr{
    width: 100%;
    margin-top: 20px;
}

/*WATCHLIST CSS*/
.watchlist-container{
    margin-top: 310px;
}

